%h1 一覧
%table.table.table-hover
  %thead
    %tr
      %th 応募日
      %th 名前
      %th ステータス
      %th 1次選考
      %th 2次選考
      %th 3次選考
      %th 最終選考
  %tbody
    - @candidates.each do |data|
      %tr
        %th= data['entry_date']
        %td= link_to(data['name'], 'https://hrmos.co/applications#/' + data[:hrmos_id].gsub('-', ''), target: '_blank')
        %td= data['status']
        %td= data['first_interview_date']
        %td= data['second_interview_date']
        %td= data['third_interview_date']
        %td= data['last_interview_date']
